<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>vibrationMode</key>
	<true/>
	<key>synchronizationMode</key>
	<true/>
	<key>KonfiguratorURL</key>
	<string>http://z.worldempire.ch/1/zigpad/config.xml</string>
	<key>simulationMode</key>
	<false/>
</dict>
</plist>
